<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>LayoutLand </title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>
    <style>
        img {
            width: 100%;
            height: auto;
            position: relative;
            vertical-align: top;
        }

        #row {
            width: 100%;
        }

        .imageDiv {
            width: 25%;
            padding: 5px;
            display: inline-block;
            align-content: start;
            vertical-align: top;
        }
    </style>

    <h1>LayoutLand </h1>
    <h2>by Montana Fowler and Jeff Weekley</h2>
    <h3>CMPM202 - UC Santa Cruz - Winter 2020</h3>


    <h4>1. Upload Image</h4>
    <form action={{ url_for('layoutLand') }} method="post">
        <input type="text" name="imageNameInput">
        <input type="submit">
    </form>

    <div id="row">


        <div id="inputImg" class="imageDiv">
            <h4>2. Input Image</h4>
            <img src="data:image/jpg;base64,{{inputData}}" />
        </div>

        <div id="segmentedImg" class="imageDiv">
            <h4>3. Segmented Image</h4>
            {% for app in segmentedData %}
              <img src="data:image/jpg;base64,{{app}}" />
            {% endfor %}

        </div>


        <h4>{{text}}</h4>
    </div>



</body>
</html>
